<div id='myForm' class="myFormPopup">
  <input type="text" placeholder="Name" [(ngModel)]="associate.id">
  <input type="text" placeholder="Name" [(ngModel)]="associate.name">
  <input type="text" placeholder="Address" [(ngModel)]="associate.address">
  <input type="text" placeholder="Email" [(ngModel)]="associate.email">
  <input type="text" placeholder="Phone" [(ngModel)]="associate.phone">
  <input type="text" placeholder="Type" [(ngModel)]="associate.type">
  <input type="text" placeholder="Status" [(ngModel)]="associate.status">
  <input type="text" placeholder="Associate Group" [(ngModel)]="associate.associateGroup">
  <button type="button" (click)="update()">Update</button>
</div>
